*{
    font-family: 'Open Sans', sans-serif;
    color:#22376F;
}

body{

}

.navbar-nav .nav-item {
    color: #22376F;
    font-weight: 600;
    font-size: 17px;
}
.navbar-nav .nav-item:hover {
    color: #e11f27;
    transition: all 0.3s ease-in-out;
}

a.navbar-brand {
    position: absolute;
    z-index: 99;
    top: 0;
    padding: 0px;
}

a.navbar-brand img {
    width: 133px;
    height: 150px;
}
button.navbar-toggler {
    margin-left: auto!important;
}
/* Scroll Fixed */
nav.fixed.navbar {
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 99;
    box-shadow: 0px 0px 16px 6px #e4e4e4;
}
nav.fixed.navbar a.navbar-brand {
    top: -63px;
    transition: all 0.5s ease-in-out;
}
/* End */

.carousel-item {
    height: calc(100vh - 89px);
}
.card-paper {
    box-shadow: 0px 0px 12px 3px #ddd;
}

.card-paper img {
    margin: -35px 0px 0px -35px;
    box-shadow: 0px 0px 12px 3px #ddd;
}
.card-item {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.card-item i {
    margin: auto;
    color: #fff;
    font-size: 50px;
}

.card-item + h5 {
    text-align: center;
    margin: 15px 0px 0px;
}

.card-item.pink {
    background-color: #E743AF;
}
.card-item.yellow {
    background-color: #FF9854;
}

.card-item.red {
    background-color: #E11F27;
}
.principal-social p {
    margin: 12px 0px 0px;
}
p.txt-title {
    font-weight: 700;
    position: relative;
    padding-left: 40px;
}

p.txt-title:after {
    position: absolute;
    content: '';
    background: #b1b1b1;
    width: 35px;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0px;
}
ul.upcoming-events {
    padding: 0px;
    list-style: none;
}

ul.upcoming-events li {
    display: flex;
    margin-bottom: 15px;
}

.event-date p {
    color: #E11F27;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.3;
    border-left: 2px solid #E11F27;
    padding: 0px 20px 0px 10px;
    margin: 0;
}

.event-date p span {
    font-size: 14px;
    text-transform: uppercase;
}

.event-title p,.event-title i {
    color: #E11F27;
    margin: 0;
    font-size: 14px;
}

.event-title h5{
    font-weight: 600;
    margin-bottom: 6px;
}

.vedas-specification {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}

.vedas-technology i, .vedas-technology h6, .vedas-technology p {color: #ffffff;text-align: center;}

.vedas-content h3,.vedas-content p {
    color: #fff;
    margin-bottom: 25px;
}
.vedas-technology {
    text-align: center;
}

.vedas-technology i {
    font-size: 60px;
    margin-bottom: 20px;
}
.view-gallery {
    background-color: #22376F;
    padding: 20px;
}
.gallery-icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.gallery-icon i {
    margin:auto;
    font-size: 55px;
}


.principal-social ul {
    padding: 0px;
    display: inline-block;
    list-style: none;
}

.principal-social ul li {
    display: inline-block;
}
.principal-social ul li a {
    width: 30px;
    font-size: 35px;
}



.vedas-content {
    background-color: #E11F27;
    padding: 35px;
    width: calc(100% - 400px);
}
.vedas-img {
    width: 400px;
}
.vedas-img img {
    object-fit: cover;
    object-position: right;
}
.vedas-specification {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2em;
    grid-row-gap: 1em;
}

.vedas-technology i, .vedas-technology h6, .vedas-technology p {color: #ffffff;text-align: center;}

.vedas-content h3,.vedas-content p {
    color: #fff;
    margin-bottom: 25px;
}
.vedas-technology {
    text-align: center;
}

.vedas-technology i {
    font-size: 60px;
    margin-bottom: 20px;
}
.view-gallery {
    background-color: #22376F;
    padding: 20px;
}
.gallery-icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.gallery-icon i {
    margin:auto;
    font-size: 55px;
}
.gallery-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
}
.gallery-img img:hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
}
.footer {
    background: #22376F;
    position: relative;
}
img.footer-logo {
    width: 200px;
    margin-top: -90px;
}
.footer-address p {
    font-size: 13px;
    margin: 4px 0px;
}

.footer-social ul {
    padding: 0px;
}

.footer-social ul i {
    color: #fff;
}

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li a {
    font-size: 29px;
    margin-right: 8px;
}

.footer-social p {
    margin: 0;
    font-size: 14px;
}

.navbar-toggler-icon {
    background-image: url(../img/burgermenu.png);
    width: 40px;
}

/* contac Us */
/* Contact CSS */

.inner-header.about-page {
	background: url(../images/alesia-kazantceva-XLm6-fPwK5Q-unsplash.jpg);
	position: relative;
	min-height: 500px;
	padding-top: 100px;
	background-position: center;
	background-size: cover;
}

.inner-header.contact-page {
	background: url(../img/bg-visual.jpg);
	position: relative;
	min-height: 500px;
	padding-top: 100px;
	background-position: center;
	background-size: cover;
}

.inner-header:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	content: '';
	background-image: linear-gradient(to top, rgb(22, 22, 22) 0%, rgba(0, 0, 0, 0) 65%);
}

.inner-header p {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fbbd61;
}

.inner-header h3 {
	font-size: 30px;
	font-weight: 300;
	padding: 0;
	letter-spacing: 3px;
	color: #fff;
	border: none;
}

.inner-header .container {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 175px;
}

.contact-form {
	padding: 7rem 0 0;
}

.map {
	position: relative;
	box-shadow: 0px 0px 15px 0px #777;
}

.form-card {
	position: absolute;
	top: 0;
	bottom: 0;
	right: -135px;
	background: #0091f8;
	height: 415px;
	margin: auto;
	padding: 25px;
	border-radius: 10px;
}

.form-card label {
	color: #fff;
}

.form-card .btn-wrapper a {
	width: 120px;
	text-align: center;
	margin: auto;
	display: block;
}

.contact-us {
	padding: 150px 0px 0px;
}

.contact-detail i {
	/* width: 110px; */
	/* height: 110px; */
	/* background: #0076fd; */
	/* color: #fff; */
	/* border-radius: 10px; */
	/* line-height: 3.1; */
	/* font-size: 2rem; */
	/* transition: all 0.5s ease-in-out; */
}

.contact-detail:hover i {
	/* box-shadow: 0px 0px 15px 0px #777; */
	/* transition: all 0.5s ease-in-out; */
}

.contact-detail {
	margin: 7rem 0 0;
	display: flex;
	justify-content: space-around;
}

.contact-info a {
	color: #4b4b4b;
	display: block;
	text-decoration: none;
	line-height: 1.8;
}

.contact-info h4 {
	margin: 15px 0px;
}

.form-img {
	width: 50%;
	margin: 0 auto 50px;
}

.form-img img {
	width: 100%;
	height: 100%;
}

.msg-form {
	background: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	padding: 40px;
	border-radius: 10px;
}

.msg-form .btn-wrapper a i {
	line-height: 0;
}

.msg-form .btn-wrapper a {
	width: 150px;
	margin: auto;
	display: block;
}

.msg-form h5 {
	color: #0574fe;
	margin-bottom: 25px;
}

.address {
	min-height: 100px;
	text-align: center;
}

.contact {
	min-height: 100px;
	text-align: center;
}

.services {
	display: block;
	text-align: center;
}

.contact a {
	color: #929292;
	text-decoration: none;
}

.services a {
	color: #929292;
	text-decoration: none;
}

.address:hover p, .contact:hover a, .services:hover a {
	color: #2266ff;
	transition: all 0.5s ease-in-out;
}

.advisory-team img {
	width: 250px;
	height: 250px;
}

.offer {
	padding: 5rem 0;
}

ul.we-offer {
	list-style-type: none;
}

ul.we-offer li {
	font-size: 1.1rem;
	position: relative;
	padding-left: 30px;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

.offer-img {
	width: 400px;
	margin: auto;
}

.offer-img img {
	width: 100%;
	height: 100%;
}

ul.we-offer li:before {
	position: absolute;
	content: '\f110';
	font-family: 'Font Awesome 5 Free';
	left: 0;
}

ul.we-offer li:hover {
	color: #2365ff;
}

.about-content {
	padding: 7rem 0;
}

.our-mission ul {
	padding: 0;
	list-style-position: inside;
}

.our-mission ul li {
	color: #929292;
	line-height: 1.8;
	font-size: 18px;
}

.our-mission h3 {
	position: relative;
	border-left: 7px solid;
	padding-left: 13px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2rem;
	margin-bottom: 25px;
}

.our-mission p {
	font-size: 1.3rem;
	line-height: 1.3;
	padding-right: 60px;
}

.mgnt-team {
	/* background: #242125; */
	padding: 40px 0px;
}

.team-member h2, .advisory-member h2 {
	color: #2166fe;
}

.team-member h2 span, .advisory-member h2 span {
	color: #5c5c5c;
}

.team-member ul {
	list-style-type: none;
	padding: 0;
}

.team-member ul li {
	color: #5c5c5c;
	font-size: 1.1rem;
	margin-bottom: 20px;
	line-height: 1.4;
}

.team-member ul li span {
	display: block;
	color: #8e8e8e;
	font-size: 13px;
}

.team-img ul {
	display: grid;
	grid-template-columns: repeat(2, 180px);
	grid-template-rows: repeat(2, 180px);
	grid-gap: 2em;
	list-style-type: none;
	align-items: center;
	margin: 0;
	padding: 0;
}

.team-img {
	display: flex;
	align-items: center;
}

.team-img ul li {
	width: 180px;
	height: 180px;
}

.team-img ul li img {
	width: 100%;
	height: 100%;
}

.advisory-member ul {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
}

.advisory-member li {
	width: 180px;
	height: 180px;
	text-align: center;
}

.advisory-member li img {
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}

.advisory-member li span {
	font-size: 16px;
	text-align: center !important;
}